@model StoryScraper.Web.Models.StoryViewModel

@{
    ViewBag.Title = "Story Details";
    Layout = "_Layout";
}

<h2>Story Details</h2>
<dl>
    <dt>Title</dt>
    <dd>@Model.Title</dd>
    <dt>Story URL</dt>
    <dd>@Model.StoryUrl</dd>
    <dt>Base URL</dt>
    <dd>@Model.BaseUrl</dd>
</dl>
<h2>Categories</h2>
<dl>
@foreach (var cat in Model.Categories)
{
    <dt>Name</dt>
    <dd>@cat.Name</dd>
    <dt>ID</dt>
    <dd>@cat.Id</dd>
}
</dl>
